h1 {
    text-align: center;
    font-style: normal;
    font-size: 120px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family:"Edwardian Script ITC", cursive;
    font-weight: bold;
}
h2 {
    font-size: 50px;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: "Snap ITC", normal, sans-serif;
    font-weight: normal;

}

.content {
    max-width: 1500px;
    margin: auto;
}

.test {
    color: #d6baff;
    text-align: center;

}

body {
    background-image: url("https://wallpapers.com/images/hd/fortnite-galaxy-3840-x-2160-3xzenq2vlmiiv71o.jpg");
    background-attachment: fixed;
}

.feacher {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    gap: 16px;
}

.feacher img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.4s;
    margin-top: 20px;
}

.feacher img:hover {
    transform: scale(1.05);
}

h3 {
    color: rgb(193, 144, 255);
    text-align: left;
    font-size: 80px;
    margin-top: 50px;
    font-weight: bold;

}

.unterüberschrift{
    color: rgb(216, 180, 255);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
}

.schrift{
    color: #ffffff;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: left;


}

.thema{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 28px;
    border: 2px solid rgba(240, 228, 255, 0.95);
    padding: 5px;


}

.absatz{
    padding: 10px;

}

h6{
    margin-top: auto;
    margin-bottom: auto;
}